<!doctype html>
<html lang="zxx">

    <!----------引入公共的 header  ----------->
    {{include "default/public/header.html"}}

    <body>
        <!-- Start Preloader -->
        <div class="preloader">
            <div class="preloader-wave"></div>
        </div>
        <!-- End Preloader -->

        <!-- Start Heder Area -->
        <!----------引入公共的 header-top  ----------->
        {{include "default/public/header-top.html"}}
        <!-- End Heder Area -->

        <!----------引入公共的头部导航 nav-top  ----------->
        {{include "default/public/nav-top.html"}}
        
        <!-- Inner Banner -->
        <div class="inner-banner bg-shape1 bg-color1">
            {{include "default/public/innerBanner.html"}}
        </div>
        <!-- Inner Banner End -->
        
        <!-- About Detl -->
        <div class="about-detl pt-100 pb-70">
            <div class="container">
                <div class="common-dtel-img">
                    <img src="{{__HOST__}}/default/assets/img/about/about-detl.jpg" alt="About Images">
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="common-dtel-text">
                            <h2 style="text-indent: 0.8em;margin-top:20px;">北京柒禾创客视觉技术有限公司</h2>
                            <p style="text-indent: 2em;">
                                Seven VFX成立于2018年，主要活动于电影、电视剧、广告等多个领域，以高质量制作为宗旨，按时完成为制作理念，专注于视觉特效技术的公司，团队由拥有多年特效制作，概念设计，现场实拍的艺术家组成，拥有丰富的工作经验和画面把控能力，能合理有效的整体设计制作方案。
                            </p>
                            <p style="text-indent: 2em;">
                                参与过的作品有电影
                                《健忘村》《闪光少女》
                                《心理罪之城市之光》
                                《京城81号》
                                《红衣小女孩2》
                            </p>
                            <p style="text-indent: 2em;">
                                电视剧
                                《三生三世十里桃花》
                                《醉玲珑》
                                《䆣汐缘》
                                《橙红年代》
                                《只为遇见你》
                            </p>
                            <p style="text-indent: 2em;">
                                公司致力于不断向影视市场输出具有影响力的优秀作品，成为影视行业中具有影响力的品牌，
                                是柒禾一直秉持的目标和前进的方向。
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="common-offer">
                            <div class="drive-img">
                                <img src="{{__HOST__}}/default/assets/img/drive.png" alt="Images">
                            </div>
                            <div class="common-offer-text">
                                <h3>Learn Swimming or Diving</h3>
                                <a href="/contact" class="call-btn">Contact Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About Detl End -->

        <!-- Trainers Area -->
        <section class="trainers-area ptb-100 " style="background:#fffafa ">
            <div class="container">
                <div class="scetion-title text-center mb-50">
                    <span>Our Team</span>
                    <h2>Our Professional Team</h2>
                    <p>
                        The introduced now, the they expect,animals the desk, and catch temple. 
                        More seven my couldn't it the character using recommended.
                    </p>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="trainer-card">
                            <a href="instructor.html">
                                <img src="{{__HOST__}}/default/assets/img/trainers/1.jpg" alt="Trainers Images">
                            </a>
                            <div class="trainer-content">
                                <a href="instructor.html">
                                    <h3>张三</h3>
                                </a>
                                <span>技术总监</span>
                                <div class="social-icon">
                                    <ul>
                                        <li>
                                            <a href="#" target="_blank">
                                                <i class="fab fa-qq"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <i class="fab fa-weixin"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <i class="fab fa-weibo"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-lg-3 col-sm-6">
                        <div class="trainer-card">
                            <a href="instructor.html">
                                <img src="{{__HOST__}}/default/assets/img/trainers/2.jpg" alt="Trainers Images">
                            </a>
                            <div class="trainer-content">
                                <a href="instructor.html">
                                    <h3>李四</h3>
                                </a>
                                <span>技术总监</span>
                                <div class="social-icon">
                                    <ul>
                                        <li>
                                            <a href="#" target="_blank">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <i class="fas fa-envelope"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-lg-3 col-sm-6">
                        <div class="trainer-card">
                            <a href="instructor.html">
                                <img src="{{__HOST__}}/default/assets/img/trainers/3.jpg" alt="Trainers Images">
                            </a>
                            <div class="trainer-content ">
                                <a href="instructor.html">
                                    <h3>王五</h3>
                                </a>
                                <span>技术总监</span>
                                <div class="social-icon ">
                                    <ul>
                                        <li>
                                            <a href="#" target="_blank">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <i class="fas fa-envelope"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-lg-3 col-sm-6">
                        <div class="trainer-card">
                            <a href="instructor.html">
                                <img src="{{__HOST__}}/default/assets/img/trainers/4.jpg" alt="Trainers Images">
                            </a>
                            <div class="trainer-content">
                                <a href="instructor.html">
                                    <h3>赵六</h3>
                                </a>
                                <span>技术总监</span>
                                <div class="social-icon">
                                    <ul>
                                        <li>
                                            <a href="#" target="_blank">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <i class="fas fa-envelope"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Trainers Area End -->


        <!----------引入公共的 footer  ----------->
        {{include "default/public/footer.html"}}


        <!----------引入公共的 js 文件 ----------->
        {{include 'default/public/footer-js.html'}}
        
    </body>
</html>