<!doctype html>
<html lang="zxx">

    <!----------引入公共的 header  ----------->
    {{include "default/public/header.html"}}

    <body>
        <!-- Start Preloader -->
        <div class="preloader">
            <div class="preloader-wave"></div>
        </div>
        <!-- End Preloader -->

        <!-- Start Heder Area -->
        <!----------引入公共的 header-top  ----------->
        {{include "default/public/header-top.html"}}
        <!-- End Heder Area -->

        <!----------引入公共的头部导航 nav-top  ----------->
        {{include "default/public/nav-top.html"}}
        
        <!-- Inner Banner -->
        <div class="inner-banner bg-shape3 bg-color5">
            {{include "default/public/innerBanner.html"}}
        </div>
        <!-- Inner Banner End -->

        <!-- Product Area
         <section class="product-area pt-94 pb-70">
            <div class="container">
                <div class="scetion-title text-center mb-50">
                    <h2>Our All Latest Diving & Swimming Equipments</h2>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="product-item">
                            <a href="case-details.html">
                                <img src="{{__HOST__}}/default/assets/img/product/1.jpg" alt="Product Images">
                            </a>
                            <div class="product-cotent">
                                <div class="product-text">
                                    <a href="case-details.html">
                                        <h3>Diving Glass</h3>
                                    </a>
                                    <span>$35</span>
                                </div>
                                <a href="#" class="add-product">
                                    <i class="flaticon-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="product-item">
                            <a href="case-details.html">
                                <img src="{{__HOST__}}/default/assets/img/product/2.jpg" alt="Product Images">
                            </a>
                            <div class="product-cotent">
                                <div class="product-text">
                                    <a href="case-details.html">
                                        <h3>Diving Rite</h3>
                                    </a>
                                    <span>$30</span>
                                </div>
                                <a href="#" class="add-product">
                                    <i class="flaticon-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="product-item">
                            <a href="case-details.html">
                                <img src="{{__HOST__}}/default/assets/img/product/3.jpg" alt="Product Images">
                            </a>
                            <div class="product-cotent">
                                <div class="product-text">
                                    <a href="case-details.html">
                                        <h3>Fins Bungee</h3>
                                    </a>
                                    <span>$75</span>
                                </div>
                                <a href="#" class="add-product">
                                    <i class="flaticon-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="product-item">
                            <a href="case-details.html">
                                <img src="{{__HOST__}}/default/assets/img/product/4.jpg" alt="Product Images">
                            </a>
                            <div class="product-cotent">
                                <div class="product-text">
                                    <a href="case-details.html">
                                        <h3>Life Jacket</h3>
                                    </a>
                                    <span>$25</span>
                                </div>
                                <a href="#" class="add-product">
                                    <i class="flaticon-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="product-item">
                            <a href="case-details.html">
                                <img src="{{__HOST__}}/default/assets/img/product/5.jpg" alt="Product Images">
                            </a>
                            <div class="product-cotent">
                                <div class="product-text">
                                    <a href="case-details.html">
                                        <h3>Diving Masks</h3>
                                    </a>
                                    <span>$35</span>
                                </div>
                                <a href="#" class="add-product">
                                    <i class="flaticon-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="product-item">
                            <a href="case-details.html">
                                <img src="{{__HOST__}}/default/assets/img/product/6.jpg" alt="Product Images">
                            </a>
                            <div class="product-cotent">
                                <div class="product-text">
                                    <a href="case-details.html">
                                        <h3>Swimming Fins</h3>
                                    </a>
                                    <span>$50</span>
                                </div>
                                <a href="#" class="add-product">
                                    <i class="flaticon-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="product-item">
                            <a href="case-details.html">
                                <img src="{{__HOST__}}/default/assets/img/product/7.jpg" alt="Product Images">
                            </a>
                            <div class="product-cotent">
                                <div class="product-text">
                                    <a href="case-details.html">
                                        <h3>Gas Masks</h3>
                                    </a>
                                    <span>$75</span>
                                </div>
                                <a href="#" class="add-product">
                                    <i class="flaticon-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="product-item">
                            <a href="case-details.html">
                                <img src="{{__HOST__}}/default/assets/img/product/8.jpg" alt="Product Images">
                            </a>
                            <div class="product-cotent">
                                <div class="product-text">
                                    <a href="case-details.html">
                                        <h3>Antifog Masks</h3>
                                    </a>
                                    <span>$25</span>
                                </div>
                                <a href="#" class="add-product">
                                    <i class="flaticon-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="product-item">
                            <a href="case-details.html">
                                <img src="{{__HOST__}}/default/assets/img/product/9.jpg" alt="Product Images">
                            </a>
                            <div class="product-cotent">
                                <div class="product-text">
                                    <a href="case-details.html">
                                        <h3>Flippers</h3>
                                    </a>
                                    <span>$25</span>
                                </div>
                                <a href="#" class="add-product">
                                    <i class="flaticon-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="product-item">
                            <a href="case-details.html">
                                <img src="{{__HOST__}}/default/assets/img/product/10.jpg" alt="Product Images">
                            </a>
                            <div class="product-cotent">
                                <div class="product-text">
                                    <a href="case-details.html">
                                        <h3>Pool Float</h3>
                                    </a>
                                    <span>$25</span>
                                </div>
                                <a href="#" class="add-product">
                                    <i class="flaticon-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="product-item">
                            <a href="case-details.html">
                                <img src="{{__HOST__}}/default/assets/img/product/11.jpg" alt="Product Images">
                            </a>
                            <div class="product-cotent">
                                <div class="product-text">
                                    <a href="case-details.html">
                                        <h3>Snorkel Masks</h3>
                                    </a>
                                    <span>$25</span>
                                </div>
                                <a href="#" class="add-product">
                                    <i class="flaticon-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="product-item">
                            <a href="case-details.html">
                                <img src="{{__HOST__}}/default/assets/img/product/12.jpg" alt="Product Images">
                            </a>
                            <div class="product-cotent">
                                <div class="product-text">
                                    <a href="case-details.html">
                                        <h3>Mesh Sack</h3>
                                    </a>
                                    <span>$25</span>
                                </div>
                                <a href="#" class="add-product">
                                    <i class="flaticon-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <div class="pagination-area">
                            <a href="#" class="prev page-numbers">
                                <i class="fas fa-chevron-left"></i>
                            </a>
                            <a href="#" class="page-numbers current" aria-current="page">1</a>
                            <a href="#" class="page-numbers ">2</a>
                            <a href="#" class="page-numbers">3</a>
                            <a href="#" class="next page-numbers">
                                <i class="fas fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>-->
        <!-- Product Area End -->


        <!-- Gallery Inner -->
        <div class="gallery-inner pt-100 pb-70">
            <div class="container">
                <div class="scetion-title text-center mb-50">
                    <span>案例作品</span>
                    <h2>Amazing Photos at Our Gallery</h2>
                </div>
                <div class="gallery-view">
                    <div class="row">
<!--
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-gallery">
                                <img src="{{__HOST__}}/default/assets/img/gallery/1.jpg" alt="Gallery Images">
                                <a href="{{__HOST__}}/default/assets/img/gallery/1.jpg" class="single-icon">
                                    <i class="fas fa-plus"></i>
                                </a>
                                <div class="gallery-content">
                                    <h3>Baby Girl Learn Swimming</h3>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-6">
                            <div class="single-gallery">
                                <img src="{{__HOST__}}/default/assets/img/gallery/2.jpg" alt="Gallery Images">
                                <a href="{{__HOST__}}/default/assets/img/gallery/2.jpg" class="single-icon">
                                    <i class="fas fa-plus"></i>
                                </a>
                                <div class="gallery-content">
                                    <h3>John at His Swim Event</h3>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-6">
                            <div class="single-gallery">
                                <img src="{{__HOST__}}/default/assets/img/gallery/3.jpg" alt="Gallery Images">
                                <a href="{{__HOST__}}/default/assets/img/gallery/3.jpg" class="single-icon">
                                    <i class="fas fa-plus"></i>
                                </a>
                                <div class="gallery-content">
                                    <h3>Scuba Diving Instruction</h3>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-6">
                            <div class="single-gallery">
                                <img src="{{__HOST__}}/default/assets/img/gallery/4.jpg" alt="Gallery Images">
                                <a href="{{__HOST__}}/default/assets/img/gallery/4.jpg" class="single-icon">
                                    <i class="fas fa-plus"></i>
                                </a>
                                <div class="gallery-content">
                                    <h3>Under Water Scuba Diving</h3>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-6">
                            <div class="single-gallery">
                                <img src="{{__HOST__}}/default/assets/img/gallery/7.jpg" alt="Gallery Images">
                                <a href="{{__HOST__}}/default/assets/img/gallery/7.jpg" class="single-icon">
                                    <i class="fas fa-plus"></i>
                                </a>
                                <div class="gallery-content">
                                    <h3>Mike’s Frist Dive for Dobby</h3>
                                </div>
                            </div>
                        </div>
                        -->
                        {{each list}}
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-gallery">

                                <img src="{{__HOST__}}/upload/{{$value.img_url}}" alt="Gallery Images">

                                <a href="{{__HOST__}}/case-details/{{@$value._id}}" class="single-icon">
                                    <i class="fas fa-arrow-circle-right"></i>
                                    Read More
                                </a>

                                <div class="gallery-content">
                                    <h3>{{$value.title}}</h3>
                                </div>
                            </div>
                        </div>
                        {{/each}}

                        <!--分页-->
                        <div class="col-lg-12 col-md-12">
                            <div id="page" class="pagination justify-content-center"></div>
                        </div>
                        <!--End 分页-->
                    </div>
                </div>
            </div>
        </div>
        <!-- Gallery Inner End -->

        <!----------引入公共的 footer  ----------->
        {{include "default/public/footer.html"}}


        <!----------引入公共的 js 文件 ----------->
        {{include 'default/public/footer-js.html'}}
        
    </body>


    <script>
        //分页
        $('#page').jqPaginator({
            totalPages: {{totalPage}},
            visiblePages: {{pageSize}},
            currentPage:{{page}},
            onPageChange: function (num, type) {
                //console.log(num, type);
                if(type=='change'){
                    location.href="{{__HOST__}}/case?page="+num;
                }
            }
        });
    </script>
</html>