<!doctype html>
<html lang="zxx">

    <!----------引入公共的 header  ----------->
    {{include "default/public/header.html"}}

    <body>
        <!-- Start Preloader -->
        <div class="preloader">
            <div class="preloader-wave"></div>
        </div>
        <!-- End Preloader -->

        <!-- Start Heder Area -->
        <!----------引入公共的 header-top  ----------->
        {{include "default/public/header-top.html"}}
        <!-- End Heder Area -->

        <!----------引入公共的头部导航 nav-top  ----------->
        {{include "default/public/nav-top.html"}}
        
        <!-- Inner Banner -->
        <div class="inner-banner bg-shape2 bg-color2">
            {{include "default/public/innerBanner.html"}}
        </div>
        <!-- Inner Banner End -->
        
        <!-- Contact Area -->
        <div class="contact-area pt-100 pb-70">
            <div class="container">
                <div class="contact-title text-center mb-50">
                    <h2>我们的工作时间 9:00 AM to 10:00 PM</h2>
                    <h2>(Sunday - Thursday)</h2>
                </div>
<!--
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="contact-item">
                            <div class="icon-contact text-center"><i class="far fa-clock"></i></div>
                            <h3>Sun - Thu : 9:00 AM - 10:00 PM</h3>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="contact-item">
                            <div class="icon-contact text-center"><i class="fas fa-map-marker-alt"></i></div>
                            <h3>28/A Street, New York City, USA</h3>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                        <div class="contact-item text-center">
                            <div class="icon-contact"><i class="flaticon-telephone"></i></div>
                            <h3>
                                <a href="tel:+1123456789">
                                    +1 123 456 789
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
                -->
                <div class="row" style="background: transparent;overflow: hidden;border-radius: 10px;">
                    <div class="col-lg-4 col-md-4 contact-col-lg-4-item">
                        <div class="contact-p1-cont2">
                            <div class="address-details-f contact-add">
                                <span class="add-style" style="transform: skew(-24deg);"></span>
                                <div class="contact-p1-header">
                                    <div class="our-phones big-title">我们的电话</div>
                                    <div class="eng-title">Our phones</div>
                                </div>
                                <div class="contact-p1-content">
                                    Tel :{{list.site_tel1}}
                                </div>
                                <div class="contact-p1-content">
                                    Tel :{{list.site_tel2}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 contact-col-lg-4-item">
                        <div class="contact-p1-cont2">
                            <div class="address-details-f contact-add">
                                <span class="add-style" style="transform: skew(-24deg);"></span>
                                <div class="contact-p1-header">
                                    <div class="our-address big-title">我们的地址</div>
                                    <div class="eng-title">Our address</div>
                                </div>
                                <div class="contact-p1-content">
                                    {{list.site_address}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 contact-col-lg-4-item">
                        <div class="contact-p1-cont2">
                            <div class="address-details-f contact-add">
                                <span class="add-style" style="transform: skew(-24deg);"></span>
                                <div class="contact-p1-header email-title">
                                    <div class="our-email big-title ">我们的邮箱</div>
                                    <div class="eng-title">Our E-mail</div>
                                </div>
                                <div class="contact-p1-content">
                                    E-mail :{{list.site_email1}}
                                </div>
                                <div class="contact-p1-content">
                                    E-mail :{{list.site_email2}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact Area End -->

        <!-- Start Map -->
        <section>
            <div id="container" tabindex="0" class="container-map"></div>
        </section>
        <link rel="stylesheet" href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css"/>
        <script type="text/javascript"
                src="https://webapi.amap.com/maps?v=1.4.12&key=bb9c6cdaa305665da3d902d860348ed7"></script>
        <script src="https://webapi.amap.com/ui/1.0/main.js"></script>
        <script>

            var map = new AMap.Map('container', {
                resizeEnable: true,
                center: [116.581184,39.913513],
                zoom: 13
            });

            AMap.plugin(['AMap.ToolBar', 'AMap.Scale'], function () {//异步同时加载多个插件
                var toolbar = new AMap.ToolBar();
                var driving = new AMap.Scale();//比例尺
                map.addControl(toolbar);
                map.addControl(driving);
            });

            AMapUI.loadUI(['overlay/SimpleInfoWindow'], function (SimpleInfoWindow) {
                var marker = new AMap.Marker({
                    map: map,
                    zIndex: 9999999,
                    // position: [122.133695, 41.654743]
                    position: [116.581184,39.913513] //坐标点局中显示
                });

                var infoWindow = new SimpleInfoWindow({
                    infoTitle: '<strong>北京柒禾创客视觉技术有限公司</strong>',
                    infoBody: `<p class="my-desc">地址:北京市朝阳区建国路15号院甲1号北岸1292 <span style="font-weight: 500;">华文国际C座4层21</span></p><p class="my-desc">E-mail :qihe@163.com</p><p class="my-desc">Tel :13866888866</p>`,

                    //基点指向marker的头部位置
                    offset: new AMap.Pixel(0, -31)
                });

                function openInfoWin() {
                    infoWindow.open(map, marker.getPosition());
                }

                //marker 点击时打开
                AMap.event.addListener(marker, 'click', function () {
                    openInfoWin();
                });
                openInfoWin();
            })

        </script>
        <script type="text/javascript" src="https://webapi.amap.com/demos/js/liteToolbar.js"></script>

        <!--  End Map       -->


        <!----------引入公共的 footer  ----------->
        {{include "default/public/footer.html"}}


        <!----------引入公共的 js 文件 ----------->
        {{include 'default/public/footer-js.html'}}
        
    </body>
</html>