<!doctype html>
<html lang="zxx">

    <!----------引入公共的 header  ----------->
    {{include "default/public/header.html"}}

    <body>
        <!-- Start Preloader -->
        <div class="preloader">
            <div class="preloader-wave"></div>
        </div>
        <!-- End Preloader -->

        <!-- Start Heder Area -->
        <header class="header-area top-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-8">
                        <div class="header-left">
                            <ul>
                                <li>
                                    <i class="fas fa-clock"></i>
                                    SAT - THU (10:00 AM - 6:00PM)
                                </li>
                                <li>
                                    <i class="fas fa-map-marker-alt"></i>
                                    28/A Street, New York, USA
                                </li>
                                <li>
                                    <a href="tel:+1123456789">
                                        <i class="fas fa-phone-alt"></i>
                                        +1 123 456 789
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="social-icon">
                            <ul>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li>  
                                    <a href="#" target="_blank">
                                        <i class="fab fa-google-plus-g"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- End Heder Area -->

        <!----------引入公共的头部导航 nav-top  ----------->
        {{include "default/public/nav-top.html"}}


        <!-- Inner Banner -->
        <div class="inner-banner bg-shape2 bg-color2">
            {{include "default/public/innerBanner.html"}}
        </div>
        <!-- Inner Banner End -->

        <!-- News Area -->
        <section class="news-area pt-94 pb-70">
            <div class="container">
                <div class="scetion-title text-center mb-30">
                    <h2>Our Regular Latest News & Updates</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="news-card">
                            <div class="news-img">
                                <a href="news-details.html">
                                    <img src="{{__HOST__}}/default/assets/img/news/1.jpg" alt="News Images">
                                </a>
                                <div class="sub-text">
                                    <a href="#">
                                        SCUBA DIVING
                                    </a>
                                </div>
                            </div>
                            <ul>
                                <li>
                                    <a href="#">John Doe</a> 
                                </li>
                                <li>26 APR 2019</li>
                            </ul>
                            <div class="news-content">
                                <a href="news-details.html">
                                    <h3>New Scuba Diving Course Sheet Will Update Soon</h3>
                                </a>
                                <p>
                                    Less entirely counter. Parent, curiously,must would frequency,
                                    would very of wellfeigned legs,doctor back in the business.
                                </p>
                                <a href="news-details.html" class="news-icon">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="news-card">
                            <div class="news-img">
                                <a href="news-details.html">
                                    <img src="{{__HOST__}}/default/assets/img/news/2.jpg" alt="News Images">
                                </a>
                                <div class="sub-text">
                                    <a href="#">
                                        SWIMMING EVENT
                                    </a> 
                                </div>
                            </div>
                            <ul>
                                <li>
                                    <a href="#">
                                        John Doe
                                    </a>
                                </li>
                                <li>27 APR 2019</li>
                            </ul>
                            <div class="news-content">
                                <a href="news-details.html">
                                    <h3>A Diving Event Will Happen at Dobby Center</h3>
                                </a>
                                <p>
                                    Less entirely counter. Parent, curiously,must would frequency,
                                    would very of wellfeigned legs,doctor back in the business.
                                </p>
                                <a href="news-details.html" class="news-icon">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="news-card">
                            <div class="news-img">
                                <a href="news-details.html">
                                    <img src="{{__HOST__}}/default/assets/img/news/3.jpg" alt="News Images">
                                </a>
                                <div class="sub-text">
                                    <a href="#">
                                        EQUIPMENT
                                    </a>
                                </div>
                            </div>
                            <ul>
                                <li>
                                    <a href="#">
                                        John Doe
                                    </a>
                                </li>
                                <li>28 APR 2019</li>
                            </ul>
                            <div class="news-content">
                                <a href="news-details.html">
                                    <h3>A Swimming Event Will Happen at Dobby Center</h3>
                                </a>
                                <p>
                                    Less entirely counter. Parent, curiously,must would frequency,
                                    would very of wellfeigned legs, doctor back in the business.
                                </p>
                                <a href="news-details.html" class="news-icon">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="news-card">
                            <div class="news-img">
                                <a href="news-details.html">
                                    <img src="{{__HOST__}}/default/assets/img/news/4.jpg" alt="News Images">
                                </a>
                                <div class="sub-text">
                                    <a href="#">SCUBA DIVING</a>
                                </div>
                            </div>
                            <ul>
                                <li>
                                    <a href="#">John Doe</a>
                                </li>
                                <li>29 APR 2019</li>
                            </ul>
                            <div class="news-content">
                                <a href="news-details.html">
                                    <h3>Scuba Diving Events Photographs Will Get on Google Drive</h3>
                                </a>
                                <p>
                                    Less entirely counter. Parent, curiously,must would frequency,
                                    would very of wellfeigned legs,doctor back in the business.
                                </p>
                                <a href="news-details.html" class="news-icon">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="news-card">
                            <div class="news-img">
                                <a href="news-details.html">
                                    <img src="{{__HOST__}}/default/assets/img/news/5.jpg" alt="News Images">
                                </a>
                                <div class="sub-text"> 
                                    <a href="#">SWIMMING EVENT</a> 
                                </div>
                            </div>
                            <ul>
                                <li>
                                    <a href="#">John Doe</a> 
                                </li>
                                <li>30 APR 2019</li>
                            </ul>
                            <div class="news-content">
                                <a href="news-details.html">
                                    <h3>A Swimming Event Photographs Will Get on Google Drive</h3>
                                </a>
                                <p>
                                    Less entirely counter. Parent, curiously,must would frequency,
                                    would very of wellfeigned legs,doctor back in the business.
                                </p>
                                <a href="news-details.html" class="news-icon">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="news-card">
                            <div class="news-img">
                                <a href="news-details.html">
                                    <img src="{{__HOST__}}/default/assets/img/news/6.jpg" alt="News Images">
                                </a>
                                <div class="sub-text">
                                    <a href="#">EQUIPMENT</a> 
                                </div>
                            </div>
                            <ul>
                                <li>
                                    <a href="#">John Doe</a> 
                                </li>
                                <li>01 MAY 2019</li>
                            </ul>
                            <div class="news-content">
                                <a href="news-details.html">
                                    <h3>Equipments Arrived. Equipments Will Find on Our Store</h3>
                                </a>
                                <p>
                                    Less entirely counter. Parent, curiously,must would frequency,
                                    would very of wellfeigned legs, doctor back in the business.
                                </p>
                                <a href="news-details.html" class="news-icon">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <div class="pagination-area">
                            <a href="#" class="prev page-numbers">
                                <i class="fas fa-chevron-left"></i>
                            </a>
                            <a href="#" class="page-numbers current" aria-current="page">1</a>
                            <a href="#" class="page-numbers ">2</a>
                            <a href="#" class="page-numbers">3</a>
                            <a href="#" class="next page-numbers">
                                <i class="fas fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- News Area End -->

        <!----------引入公共的 footer  ----------->
        {{include "default/public/footer.html"}}


        <!----------引入公共的 js 文件 ----------->
        {{include 'default/public/footer-js.html'}}
        
    </body>
</html>