<!doctype html>
<html lang="zxx">

<!----------引入公共的 header  ----------->
{{include "default/public/header.html"}}

<body>
<!-- Start Preloader -->
<div class="preloader">
   <div class="preloader-wave"></div>
</div>
<!-- End Preloader -->

<!-- Start Heder Area -->
<!----------引入公共的 header-top  ----------->
{{include "default/public/header-top.html"}}
<!-- End Heder Area -->

<!----------引入公共的头部导航 nav-top  ----------->
{{include "default/public/nav-top.html"}}

<!-- Inner Banner -->
<div class="inner-banner bg-shape1 bg-color4">
   {{include "default/public/innerBanner.html"}}
</div>
<!-- Inner Banner End -->

<!-- News Detl -->
<div class="news-detl pt-100 pb-70">
   <div class="container">
      <div class="row">
         <div class="col-lg-8">
            <div class="common-dtel-img">
               <img src="{{__HOST__}}/default/assets/img/news/news-detl.jpg" alt="About Images">
            </div>
            <div class="common-dtel-text">
               <h2>New Scuba Diving May 2020 Course Sheet Will Update Soon</h2>
               <p>
                  Satisfaction in of this hologram and more to elite. Caches away was remember harmonics.
                  For achieveents children. Confidence will the feel in they a concept psychological the
                  essential and years on then in snapped behind quietly founded, the a she and sported seven
                  we've succeeded have her, interfaces small expect, to that, with too time can but met
                  perfectly that it both from would indeed, that even have lowest more brief. Into step
                  never are been for he that acquired to he groundtem, the empire own had multitude was
                  go him over for an with that is completely me. Communicated.
               </p>
               <p>
                  Satisfaction in of this hologram and more to elite. Caches away was remember harmonics.
                  For achieveents children. Confidence will the feel in they a concept psychological the
                  essential and years on then in snapped behind quietly founded, the a she and sported seven
                  we've succeeded have her, interfaces small expect, to that, with too time can but met
                  perfectly that it both from would indeed, that even have lowest more brief. Into step
                  never are been for he that acquired to he groundtem, the empire own had multitude was
                  go him over for an with that is completely me. Communicated.
               </p>
               <p>
                  Satisfaction in of this hologram and more to elite. Caches away was remember harmonics. For
                  achieveents
                  children.Confidence will the feel in they a concept psychological the essential and years on then in
                  snapped
                  behind quietly founded, the a she and sported seven we've succeeded have her.
               </p>
            </div>
            <!--
            <div class="news-comments">
               <div class="news-comments-title">
                  <h2>2 Comments:</h2>
               </div>
               <div class="news-comments-card">
                  <div class="news-comments-img">
                     <img src="{{__HOST__}}/default/assets/img/testimonial/t1.png" alt="Images">
                  </div>
                  <div class="comments-title">
                     <h3>Smith Doe</h3>
                     <span>27 APR 2019 3:00 PM</span>
                  </div>
                  <p>
                     “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do ei
                     usmod tempor incididunt ut labore et dolore magna aliqua.
                     Quis ipsum suspendisse ultrices gravida. Risus commodo.”
                  </p>
                  <a href="#" class="reply-btn">Reply</a>
               </div>

               <div class="news-comments-card">
                  <div class="news-comments-img">
                     <img src="{{__HOST__}}/default/assets/img/testimonial/t2.png" alt="Images">
                  </div>
                  <div class="comments-title">
                     <h3>John Doe</h3>
                     <span>28 APR 2019 09:00 PM</span>
                  </div>
                  <p>
                     “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do ei
                     usmod tempor incididunt ut labore et dolore magna aliqua.
                     Quis ipsum suspendisse ultrices gravida. Risus commodo.”
                  </p>
                  <a href="#" class="reply-btn">Reply</a>
               </div>

               <div class="news-comments-card">
                  <div class="news-comments-img">
                     <img src="{{__HOST__}}/default/assets/img/testimonial/t3.png" alt="Images">
                  </div>
                  <div class="comments-title">
                     <h3>Aana Smith</h3>
                     <span>29 APR 2019 10:00 AM</span>
                  </div>
                  <p>
                     “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do ei
                     usmod tempor incididunt ut labore et dolore magna aliqua.
                     Quis ipsum suspendisse ultrices gravida. Risus commodo.”
                  </p>
                  <a href="#" class="reply-btn">Reply</a>
               </div>

               <div class="news-detl-contact">
                  <div class="form-section">
                     <h2>Drop your comment</h2>
                     <form id="contactForm">
                        <div class="row">
                           <div class="col-lg-6 col-sm-6">
                              <div class="form-group">
                                 <input type="text" name="name" id="name" class="form-control" placeholder="Your Name">
                              </div>
                           </div>

                           <div class="col-lg-6 col-sm-6">
                              <div class="form-group">
                                 <input type="email" name="email" id="email" class="form-control "
                                        placeholder="Your Email">
                              </div>
                           </div>

                           <div class="col-lg-12 col-md-12">
                              <div class="form-group">
                                 <textarea name="Comment" class="form-message textarea-hight" id="Comment" cols="30"
                                           rows="5" placeholder="Your Comment"></textarea>
                              </div>
                           </div>

                           <div class="col-lg-12 col-md-12">
                              <button type="submit" class="default-btn1">
                                 Post A Comment
                              </button>
                              <div id="msgSubmit" class="h3 text-center hidden"></div>
                              <div class="clearfix"></div>
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
            -->
         </div>

         <div class="col-lg-4">
            <div class="widget-area">
               <!--
               <div class="widget-search">

                  <form>
                     <input type="text" placeholder="Search here..." class="form-search">
                     <button type="submit" class="search-btn">
                        <i class="fas fa-search"></i>
                     </button>
                  </form>
               </div>
               -->

               <div class="widget-categories">
                  <h2>More News</h2>
                  <ul>
                     <li>
                        <a href="#">
                           A Swimming & Diving Evenet...
                           <i class="fas fa-chevron-right"></i>
                        </a>
                     </li>
                     <li>
                        <a href="#">
                           Scuba Diving Evenet Photogra...
                           <i class="fas fa-chevron-right"></i>
                        </a>
                     </li>
                     <li>
                        <a href="#">
                           Swimming Event Photograph...
                           <i class="fas fa-chevron-right"></i>
                        </a>
                     </li>
                     <li>
                        <a href="#">
                           New Equipments Arrived..
                           <i class="fas fa-chevron-right"></i>
                        </a>
                     </li>
                     <li>
                        <a href="#">
                           Monthly Diving Event wiil....
                           <i class="fas fa-chevron-right"></i>
                        </a>
                     </li>
                  </ul>
               </div>

               <div class="news-post">
                  <h2>Recent Posts</h2>
                  <div class="news-post-card">
                     <div class="post-item1">
                        <a href="#">
                           <h3>A Diving Event Will Happen at Dobby Center</h3>
                        </a>
                        <span>
                           <i class="far fa-calendar-alt"></i>
                           27 APR 2019
                        </span>
                     </div>

                     <div class="post-item2">
                        <a href="#">
                           <h3>A Swimming Event Will Happen at Dobby Center</h3>
                        </a>
                        <span>
                           <i class="far fa-calendar-alt"></i>
                           28 APR 2019
                        </span>
                     </div>

                     <div class="post-item3">
                        <a href="#">
                           <h3>Scuba Diving Events Photographs Will Get on Google Drive</h3>
                        </a>
                        <span>
                            <i class="far fa-calendar-alt"></i>
                            28 APR 2019
                        </span>
                     </div>
                  </div>
               </div>

               <div class="dobby-tag">
                  <h3>Tags</h3>
                  <ul>
                     <li>
                        <a href="#">Diving</a>
                     </li>
                     <li>
                        <a href="#">Swimming</a>
                     </li>
                     <li>
                        <a href="#">Event</a>
                     </li>
                     <li>
                        <a href="#">Equipment</a>
                     </li>
                     <li>
                        <a href="#">Scuba Diving</a>
                     </li>
                     <li>
                        <a href="#">Training</a>
                     </li>
                     <li>
                        <a href="#">Lerning</a>
                     </li>
                  </ul>
               </div>


            </div>
         </div>
      </div>
   </div>
</div>
<!-- News Detl End -->

<!-- Product Area -->
<section class="product-area pt-100 pb-70">
   <div class="container">
      <div class="scetion-title text-center mb-50">
         <span>Our Products</span>
         <h2>Buy the Equipment You Need</h2>
         <p>
            The introduced now, the they expect, animals the desk, and catch
            temple. More seven my couldn't it the character using recommended.
         </p>
      </div>
      <div class="row">
         <div class="col-lg-3 col-sm-6">
            <div class="product-item">
               <a href="case-details.html">
                  <img src="{{__HOST__}}/default/assets/img/product/1.jpg" alt="Product Images">
               </a>
               <div class="product-cotent">
                  <div class="product-text">
                     <a href="case-details.html">
                        <h3>Diving Glass</h3>
                     </a>
                     <span>$35</span>
                  </div>
                  <a href="#" class="add-product">
                     <i class="flaticon-plus"></i>
                  </a>
               </div>
            </div>
         </div>

         <div class="col-lg-3 col-sm-6">
            <div class="product-item">
               <a href="case-details.html">
                  <img src="{{__HOST__}}/default/assets/img/product/2.jpg" alt="Product Images">
               </a>
               <div class="product-cotent">
                  <div class="product-text">
                     <a href="case-details.html">
                        <h3>Diving Rite</h3>
                     </a>
                     <span>$30</span>
                  </div>
                  <a href="#" class="add-product">
                     <i class="flaticon-plus"></i>
                  </a>
               </div>
            </div>
         </div>

         <div class="col-lg-3 col-sm-6">
            <div class="product-item">
               <a href="case-details.html">
                  <img src="{{__HOST__}}/default/assets/img/product/3.jpg" alt="Product Images">
               </a>
               <div class="product-cotent">
                  <div class="product-text">
                     <a href="case-details.html">
                        <h3>Fins Bungee</h3>
                     </a>
                     <span>$75</span>
                  </div>
                  <a href="#" class="add-product">
                     <i class="flaticon-plus"></i>
                  </a>
               </div>
            </div>
         </div>

         <div class="col-lg-3 col-sm-6">
            <div class="product-item">
               <a href="case-details.html">
                  <img src="{{__HOST__}}/default/assets/img/product/4.jpg" alt="Product Images">
               </a>
               <div class="product-cotent">
                  <div class="product-text">
                     <a href="case-details.html">
                        <h3>Life Jacket</h3>
                     </a>
                     <span>$25</span>
                  </div>
                  <a href="#" class="add-product">
                     <i class="flaticon-plus"></i>
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- Product Area End -->

<!----------引入公共的 footer  ----------->
{{include "default/public/footer.html"}}


<!----------引入公共的 js 文件 ----------->
{{include 'default/public/footer-js.html'}}

</body>
</html>