<!doctype html>
<html lang="zxx">

    <!----------引入公共的 header  ----------->
    {{include "default/public/header.html"}}

    <body>
        <!-- Start Preloader -->
        <div class="preloader">
            <div class="preloader-wave"></div>
        </div>
        <!-- End Preloader -->

        <!-- Start Heder Area -->
        <!----------引入公共的 header-top  ----------->
        {{include "default/public/header-top.html"}}
        <!-- End Heder Area -->

        <!----------引入公共的头部导航 nav-top  ----------->
        {{include "default/public/nav-top.html"}}


        <!-- Inner Banner -->
        <div class="inner-banner bg-shape2 bg-color2">
            {{include "default/public/innerBanner.html"}}
        </div>
        <!-- Inner Banner End -->

        <!-- News Area -->
        <section class="news-area pt-94 pb-70">
            <div class="container">
                <div class="scetion-title text-center mb-30">
                    <h2>Our Regular Latest News & Updates</h2>
                </div>
                <div class="row">
                    {{each list}}
                    <div class="col-lg-4 col-md-6">
                        <div class="news-card">
                            <div class="news-img">
                                <a href="{{__HOST__}}/news-details/{{@$value._id}}">
                                    <img src="{{__HOST__}}/default/assets/img/news/1.jpg" alt="News Images">
                                </a>
                                <div class="sub-text">
                                    <a href="#">
                                        SCUBA DIVING
                                    </a>
                                </div>
                            </div>
                            <ul>
                                <li>
                                    <a href="#">John Doe{{$value.author}}</a>
                                </li>
                                <li>{{$value.news_updateTime}}</li>
                            </ul>
                            <div class="news-content">
                                <a href="news-details.html">
                                    <h3>{{$value.news_title}}</h3>
                                </a>
                                <p>
                                    {{$value.news_desc}}
                                </p>
                                <a href="{{__HOST__}}/news-details/{{@$value._id}}" class="news-icon">
                                    <i class="fas fa-arrow-circle-right"></i>
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                    {{/each}}


                    <div class="col-lg-12 col-md-12">
                        <div class="pagination-area">
                            <a href="#" class="prev page-numbers">
                                <i class="fas fa-chevron-left"></i>
                            </a>
                            <a href="#" class="page-numbers current" aria-current="page">1</a>
                            <a href="#" class="page-numbers ">2</a>
                            <a href="#" class="page-numbers">3</a>
                            <a href="#" class="next page-numbers">
                                <i class="fas fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- News Area End -->

        <!----------引入公共的 footer  ----------->
        {{include "default/public/footer.html"}}


        <!----------引入公共的 js 文件 ----------->
        {{include 'default/public/footer-js.html'}}
        
    </body>
</html>