<!doctype html>
<html lang="zxx">

    <!----------引入公共的 header  ----------->
    {{include "default/public/header.html"}}

    <body>
        <!-- Start Preloader -->
        <div class="preloader">
            <div class="preloader-wave"></div>
        </div>
        <!-- End Preloader -->

        <!-- Start Heder Area -->
        <header class="header-area top-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-8">
                        <div class="header-left">
                            <ul>
                                <li>
                                    <i class="fas fa-clock"></i>
                                    SAT - THU (10:00 AM - 6:00PM)
                                </li>
                                <li>
                                    <i class="fas fa-map-marker-alt"></i>
                                    28/A Street, New York, USA
                                </li>
                                <li>
                                    <a href="tel:+1123456789">
                                        <i class="fas fa-phone-alt"></i>
                                        +1 123 456 789
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="social-icon">
                            <ul>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li>  
                                    <a href="#" target="_blank">
                                        <i class="fab fa-google-plus-g"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- End Heder Area -->

        <!----------引入公共的头部导航 nav-top  ----------->
        {{include "default/public/nav-top.html"}}
        
        <!-- Inner Banner -->
        <div class="inner-banner bg-shape3 bg-color4">
            {{include "default/public/innerBanner.html"}}
        </div>
        <!-- Inner Banner End -->

        <!-- Service Area -->
        <section class="service-area text-center pt-100 pb-70">
            <div class="container">
                <div class="scetion-title mb-50">
                    <h2>Dobby Provides All Those Services</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item box-shadow border-radius-10">
                            <a href="service-details.html" class="service-item-icon">
                                <i class="flaticon-swimming"></i>
                            </a>
                            <a href="service-details.html" class="service-head">
                                <h3>Swimming & Diving</h3>
                            </a>
                            <p>
                                As sign what each derided to organizaasd tion. Remodelling 
                                that, win word as have the proceeded lots subject
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="service-item box-shadow border-radius-10">
                            <a href="service-details.html" class="service-item-icon">
                                <i class="flaticon-teacher"></i>
                            </a>
                            <a href="service-details.html" class="service-head">
                                <h3>Teaching Swimming & Diving</h3>
                            </a>
                            <p>
                                As sign what each derided to organizaasd tion. Remodelling
                                that, win word as have the proceeded lots subject
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="service-item box-shadow border-radius-10">
                            <a href="service-details.html" class="service-item-icon">
                                <i class="flaticon-flipper"></i>
                            </a>
                            <a href="service-details.html" class="service-head">
                                <h3>Swimming Equipments</h3>
                            </a>
                            <p>
                                As sign what each derided to organizaasd tion. Remodelling 
                                that, win word as have the proceeded lots subject
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="service-item box-shadow border-radius-10">
                            <a href="service-details.html" class="service-item-icon">
                                <i class="flaticon-swimmer"></i>
                            </a>
                            <a href="service-details.html" class="service-head">
                                <h3>Monthly Swimming Event</h3>
                            </a>
                            <p>
                                As sign what each derided to organizaasd tion. Remodelling that, 
                                win word as have the proceeded lots subject
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="service-item box-shadow border-radius-10">
                            <a href="service-details.html" class="service-item-icon">
                                <i class="flaticon-dive"></i>
                            </a>
                            <a href="service-details.html" class="service-head">
                                <h3>Monthly Diving Event</h3>
                            </a>
                            <p>
                                As sign what each derided to organizaasd tion. Remodelling that, 
                                win word as have the proceeded lots subject
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="service-item box-shadow border-radius-10">
                            <a href="service-details.html" class="service-item-icon">
                                <i class="flaticon-oxigen"></i>
                            </a>
                            <a href="service-details.html" class="service-head">
                                <h3>Scuba Diving Equipments</h3>
                            </a>
                            <p>
                                As sign what each derided to organizaasd tion. Remodelling that, 
                                win word as have the proceeded lots subject
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Service Area End -->

        <!-- Product Area -->
        <section class="product-area pt-100 pb-70">
            <div class="container">
                <div class="scetion-title text-center mb-50">
                    <span>Our Products</span>
                    <h2>Buy the Equipment You Need</h2>
                    <p>
                        The introduced now, the they expect, animals the desk, and catch 
                        temple. More seven my couldn't it the character using recommended.
                    </p>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="product-item">
                            <a href="case-details.html">
                                <img src="assets/img/product/1.jpg" alt="Product Images">
                            </a>
                            <div class="product-cotent">
                                <div class="product-text">
                                    <a href="case-details.html">
                                        <h3>Diving Glass</h3>
                                    </a>
                                    <span>$35</span>
                                </div>
                                <a href="#" class="add-product">
                                    <i class="flaticon-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="product-item">
                            <a href="case-details.html">
                                <img src="assets/img/product/2.jpg" alt="Product Images">
                            </a>
                            <div class="product-cotent">
                                <div class="product-text">
                                    <a href="case-details.html">
                                        <h3>Diving Rite</h3>
                                    </a>
                                    <span>$30</span>
                                </div>
                                <a href="#" class="add-product">
                                    <i class="flaticon-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="product-item">
                            <a href="case-details.html">
                                <img src="assets/img/product/3.jpg" alt="Product Images">
                            </a>
                            <div class="product-cotent">
                                <div class="product-text">
                                    <a href="case-details.html">
                                        <h3>Fins Bungee</h3>
                                    </a>
                                    <span>$75</span>
                                </div>
                                <a href="#" class="add-product">
                                    <i class="flaticon-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="product-item">
                            <a href="case-details.html">
                                <img src="assets/img/product/4.jpg" alt="Product Images">
                            </a>
                            <div class="product-cotent">
                                <div class="product-text">
                                    <a href="case-details.html">
                                        <h3>Life Jacket</h3>
                                    </a>
                                    <span>$25</span>
                                </div>
                                <a href="#" class="add-product">
                                    <i class="flaticon-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Product Area End -->

        <!-- Trainers Area -->
        <section class="trainers-area pt-100 pb-70">
            <div class="container">
                <div class="scetion-title text-center mb-50">
                    <span>Our Trainers</span>
                    <h2>Our Professional Trainers</h2>
                    <p>
                        The introduced now, the they expect, animals the desk, and catch temple. 
                        More seven my couldn't it the character using recommended.
                    </p>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="trainer-card">
                            <a href="instructor.html">
                                <img src="assets/img/trainers/1.jpg" alt="Trainers Images">
                            </a>
                            <div class="trainer-content">
                                <a href="instructor.html">
                                    <h3>John Doe</h3>
                                </a>
                                <span>Professional Diver</span>
                                <div class="social-icon">
                                    <ul>
                                        <li>
                                            <a href="#" target="_blank">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <i class="fas fa-envelope"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-lg-3 col-sm-6">
                        <div class="trainer-card">
                            <a href="instructor.html">
                                <img src="assets/img/trainers/2.jpg" alt="Trainers Images">
                            </a>
                            <div class="trainer-content">
                                <a href="instructor.html">
                                    <h3>Evana Doe</h3>
                                </a>
                                <span>Professional Trainer</span>
                                <div class="social-icon">
                                    <ul>
                                        <li>
                                            <a href="#" target="_blank">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <i class="fas fa-envelope"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-lg-3 col-sm-6">
                        <div class="trainer-card">
                            <a href="instructor.html">
                                <img src="assets/img/trainers/3.jpg" alt="Trainers Images">
                            </a>
                            <div class="trainer-content active">
                                <a href="instructor.html">
                                    <h3>Smith Doe</h3>
                                </a>
                                <span>Professional Swimmer</span>
                                <div class="social-icon active">
                                    <ul>
                                        <li>
                                            <a href="#" target="_blank">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <i class="fas fa-envelope"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-lg-3 col-sm-6">
                        <div class="trainer-card">
                            <a href="instructor.html">
                                <img src="assets/img/trainers/4.jpg" alt="Trainers Images">
                            </a>
                            <div class="trainer-content">
                                <a href="instructor.html">
                                    <h3>Marida Doe</h3>
                                </a>
                                <span>Professional Instructor</span>
                                <div class="social-icon">
                                    <ul>
                                        <li>
                                            <a href="#" target="_blank">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <i class="fas fa-envelope"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Trainers Area End -->

        <!-- News Area -->
        <section class="news-area pb-70">
            <div class="container">
                <div class="scetion-title text-center mb-50">
                    <span>Our News</span>
                    <h2>Daily Updates of Our Dobby</h2>
                    <p>
                        The introduced now, the they expect, animals the desk, and catch temple. 
                        More seven my couldn't it the character using recommended.
                    </p>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="news-card">
                            <div class="news-img">
                                <a href="news-details.html">
                                    <img src="assets/img/news/1.jpg" alt="News Images">
                                </a>
                                <div class="sub-text">
                                    <a href="#">SCUBA DIVING</a> 
                                </div>
                            </div>
                            <ul>
                                <li>
                                   <a href="">John Doe</a> 
                                </li>
                                <li>26 APR 2019</li>
                            </ul>
                            <div class="news-content">
                                <a href="news-details.html">
                                    <h3>New Scuba Diving Course Sheet Will Update Soon</h3>
                                </a>
                                <p>
                                    Less entirely counter. Parent, curiously, must would frequency,
                                    would very of wellfeigned legs, doctor back in the business.
                                </p>
                                <a href="news-details.html" class="news-icon">
                                    Read More 
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="news-card">
                            <div class="news-img">
                                <a href="news-details.html">
                                    <img src="assets/img/news/2.jpg" alt="News Images">
                                </a>
                                <div class="sub-text"> 
                                    <a href="#">
                                        SWIMMING EVENT
                                    </a>
                                </div>
                            </div>
                            <ul>
                                <li>
                                    <a href="#">John Doe</a> 
                                </li>
                                <li>27 APR 2019</li>
                            </ul>
                            <div class="news-content">
                                <a href="news-details.html">
                                    <h3>A Diving Event Will Happen at Dobby Center</h3>
                                </a>
                                <p>
                                    Less entirely counter. Parent, curiously, must would frequency,
                                    would very of wellfeigned legs, doctor back in the business.
                                </p>
                                <a href="news-details.html" class="news-icon">
                                    Read More 
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 offset-lg-0 col-md-6 offset-md-3">
                        <div class="news-card">
                            <div class="news-img">
                                <a href="news-details.html">
                                    <img src="assets/img/news/3.jpg" alt="News Images">
                                </a>
                                <div class="sub-text">
                                    <a href="#">EQUIPMENT</a>
                                </div>
                            </div>
                            <ul>
                                <li>
                                    <a href="#">John Doe</a> 
                                </li>
                                <li>28 APR 2019</li>
                            </ul>
                            <div class="news-content">
                                <a href="news-details.html">
                                    <h3>A Swimming Event Will Happen at Dobby Center</h3>
                                </a>
                                <p>
                                    Less entirely counter. Parent, curiously, must would frequency,
                                    would very of wellfeigned legs, doctor back in the business.
                                </p>
                                <a href="news-details.html" class="news-icon">
                                    Read More 
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- News Area End -->

        <!----------引入公共的 footer  ----------->
        {{include "default/public/footer.html"}}


        <!----------引入公共的 js 文件 ----------->
        {{include 'default/public/footer-js.html'}}
        
    </body>
</html>