<!DOCTYPE html>
<html>

<!----------引入公共的header ----------->
{{include 'admin/public/header.html'}}

<body>
<div class="layout">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <div class="d-flex justify-content-center h-100vh w-100vw align-items-center">
               <div class="error-container text-center">
                  <h1 class="error-number">404</h1>
                  <h2 class="semi-bold">This page is not found.</h2>
                  <p class="p-b-10">Sorry, this page doesn't exist.</p>
                  <div><a href="{{__HOST__}}/admin" class="btn btn-common btn-rounded btn-lg">Back to dashboard</a></div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<div id="preloader">
   <div class="loader" id="loader-1"></div>
</div>


<!----------引入公共的footer ----------->
{{include 'admin/public/footer.html'}}
</body>

<!-- source http://www.scnoob.com More templates http://www.scnoob.com/moban -->
</html>