<!doctype html>
<html lang="en">
<!----------引入公共的header ----------->
{{include 'admin/public/header.html'}}
<body>


<div class="app header-default side-nav-dark">
    <div class="layout">

        <!----------上边的nav ----------->
        {{include 'admin/public/nav-top.html'}}

        <!----------左边的nav ----------->
        {{include 'admin/public/nav-left.html'}}


        <div class="page-container">

            <div class="main-content">
                <!--   引入公共的 面包屑导航    -->
                {{include "admin/public/breadcrumb.html"}}

                <div class="container-fluid">

                    <div class="row">
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">编辑用户</h4>
                                </div>
                                <div class="card-body">
                                    <!--<div id="morris-bar-example" style="height: 372px"></div>-->
                                    <div style="height: 372px">
<!--                                        <form action="{{__HOST__}}/admin/manager/doEdit" method="post" role="form" id="form-validation">-->
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label control-label">用户名:</label>
                                                <div class="col-sm-10">
                                                    <input type="hidden" name="id" value="{{@list._id}}">
                                                    <input type="text" required="" class="form-control" name="username" value="{{list.username}}">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label control-label">密码:</label>
                                                <div class="col-sm-10">
                                                    <input type="text" required="" class="form-control" name="password" placeholder="Enter your password">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label control-label">确认密码:</label>
                                                <div class="col-sm-10">
                                                    <input id="password" required="" type="text" class="form-control" name="rpassword" placeholder="Enter your password">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label control-label"></label>
                                                <div class="col-sm-10">
                                                    <button id="btn-common" class="btn btn-common">提交</button>
                                                </div>
                                            </div>


<!--                                        </form>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-12 stretch-card">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="sales-info">
                                                <h3>14,0000</h3>
                                                <span>Overall Performance</span>
                                            </div>
                                            <div class="progress progress-sm">
                                                <div class="progress-bar bg-primary" role="progressbar"
                                                     aria-valuenow="35" style="width: 75%"></div>
                                            </div>
                                            <p>42% higher than last month</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 stretch-card">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="sales-info">
                                                <h3>34,000</h3>
                                                <span>Active Installations</span>
                                            </div>
                                            <div class="progress progress-sm">
                                                <div class="progress-bar bg-success" role="progressbar"
                                                     aria-valuenow="35" style="width: 55%"></div>
                                            </div>
                                            <p>19% less than last month</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 stretch-card">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="sales-info">
                                                <h3>11,279</h3>
                                                <span>Total downloads</span>
                                            </div>
                                            <div class="progress progress-sm">
                                                <div class="progress-bar bg-purple" role="progressbar"
                                                     aria-valuenow="35" style="width: 35%"></div>
                                            </div>
                                            <p>73% higher than last month</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <footer class="content-footer">
                <div class="footer">
                    <div class="copyright">
                        <span>
                            Copyright © 2018
                            <b class="text-dark">UIdeck</b>
                            . All Right Reserved More Templates
                            <a href="http://www.scnoob.com">菜鸟素材</a>
                            - Collect from
                            <a href="http://www.scnoob.com/moban">网页模板</a>
                        </span>
                    </div>
                </div>
            </footer>

        </div>

    </div>
</div>


<div id="preloader">
    <div class="loader" id="loader-1"></div>
</div>


<!----------引入公共的footer ----------->
{{include 'admin/public/footer.html'}}

<script>
    $('#btn-common').click(function () {
        let id = $("input[name=id]").val();
        let username = $("input[name=username]").val();
        let password = $("input[name=password]").val();
        let rpassword = $("input[name=rpassword]").val();
        //console.log(`用户名${username},密码${password},确认密码${rpassword}`);
        //Ajax请求 "/admin/changeManagerAdd"
        $.post("{{__HOST__}}/admin/manager/doEdit",{
            id:id,
            username:username,
            password:password,
            rpassword:rpassword
        }, function(data,status){
            alert("Data Loaded: " + JSON.stringify(data) );//Data Loaded: {"message":"用户已存在","success":false}
            //alert("status Loaded: " + status);
            if(data.success){
                //alert(data.message);
                function tankuang(pWidth,content) {
                    $("#msg").remove();
                    let html ='<div id="msg" style="position:fixed;top:50%;width:100%;height:30px;line-height:30px;margin-top:-15px;">' +
                        '<p style="background:#000;' +
                        'opacity:0.8;' +
                        'width:'+ pWidth +'px;' +
                        'color:#fff;' +
                        'text-align:center;' +
                        'padding:10px 10px;' +
                        'margin:0 auto;' +
                        'font-size:12px;' +
                        'border-radius:4px;' +
                        '">'+
                        content +
                        '</p>' +
                        '</div>'
                    $("body").append(html);
                    let t = setTimeout(next,500);
                    function next() {
                        $("#msg").remove();
                        window.location.href="/admin/manager";
                    }
                }
                tankuang(300,data.message);
            }else{
                function tankuang(pWidth,content) {
                    $("#msg").remove();
                    let html ='<div id="msg" style="position:fixed;top:50%;width:100%;height:30px;line-height:30px;margin-top:-15px;">' +
                        '<p style="background:#000;' +
                        'opacity:0.8;' +
                        'width:'+ pWidth +'px;' +
                        'color:#fff;' +
                        'text-align:center;' +
                        'padding:10px 10px;' +
                        'margin:0 auto;' +
                        'font-size:12px;' +
                        'border-radius:4px;' +
                        '">'+
                        content +
                        '</p>' +
                        '</div>'
                    $("body").append(html);
                    let t = setTimeout(next,500);
                    function next() {
                        $("#msg").remove();
                        return false;
                        // window.location.href="/admin/manager/add";
                        // history.go(-1);//不刷新页面
                    }
                }
                tankuang(300,data.message);
            }
        });

    })
</script>

</body>
</html>