<!doctype html>
<html lang="en">
<!----------引入公共的header ----------->
{{include 'admin/public/header.html'}}
<body>


<div class="app header-default side-nav-dark">
   <div class="layout">

      <!----------上边的nav ----------->
      {{include 'admin/public/nav-top.html'}}

      <!----------左边的nav ----------->
      {{include 'admin/public/nav-left.html'}}


      <div class="page-container">

         <div class="main-content">

            <!--   引入公共的 面包屑导航    -->
            {{include "admin/public/breadcrumb.html"}}

            <div class="container-fluid">

               <div class="row">
                  <div class="col-md-8">
                     <div class="card">
                        <div class="card-header">
                           <h5 class="card-title">设置网站信息</h5>
                        </div>
                        <div class="card-body">
                           <div class="card-body-wrap">
                              <div class="form-group row">
                                 <label class="col-sm-2 col-form-label control-label" for="site_title">网站标题 :</label>
                                 <div class="col-sm-10">
                                    <input id="site_title" type="text" class="form-control" name="site_title" value="{{list.site_title}}" placeholder="请输入网站标题">
                                    <input type="hidden" name="id" value="{{@list._id}}">
                                 </div>
                              </div>

                              <div class="form-group row">
                                 <label class="col-sm-2 col-form-label control-label" for="site_keywords">关键字 :</label>
                                 <div class="col-sm-10">
                                    <input id="site_keywords" type="text" class="form-control" name="site_keywords" value="{{list.site_keywords}}" placeholder="请输入网站关键字">
                                 </div>
                              </div>

                              <div class="form-group row">
                                 <label class="col-sm-2 col-form-label control-label" for="site_des">网站描述 :</label>
                                 <div class="col-sm-10">
                                    <textarea class="site_des" name="site_des" id="site_des" cols="30" rows="3" placeholder="请输入网站介绍">{{list.site_des}}</textarea>
                                 </div>
                              </div>

                              <div class="form-group row">
                                 <label class="col-sm-2 col-form-label control-label" for="site_recordNum">备案号 :</label>
                                 <div class="col-sm-10">
                                    <input id="site_recordNum" type="text" class="form-control" name="site_recordNum"
  value="{{list.site_recordNum}}" placeholder="请输入网站备案号">
                                 </div>
                              </div>

                              <div class="form-group row">
                                 <label class="col-sm-2 col-form-label control-label">是否关闭网站 :</label>
                                 <div class="col-sm-10 col-form-label">
                                    <label for="status1" class="m-r-10">
                                       Open :
                                       <input class="btn-radio" id="status1" type="radio" name="site_status" value="1"
                                              {{if list.site_status=="1"}} checked {{/if}}>
                                    </label>
                                    <label for="status2">
                                       Close :
                                       <input class="btn-radio" id="status2" type="radio" name="site_status" value="0"
                                              {{if list.site_status=="0"}} checked {{/if}}>
                                    </label>
                                 </div>
                              </div>

                              <div class="form-group row">
                                 <label class="col-sm-2 col-form-label control-label"></label>
                                 <div class="col-sm-10">
                                    <button id="btn-common" class="btn btn-common">提交</button>
                                 </div>
                              </div>

                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="row">
                        <div class="col-12 stretch-card">
                           <div class="card">
                              <div class="card-body">
                                 <div class="sales-info">
                                    <h3>14,0000</h3>
                                    <span>Overall Performance</span>
                                 </div>
                                 <div class="progress progress-sm">
                                    <div class="progress-bar bg-primary" role="progressbar"
                                         aria-valuenow="35" style="width: 75%"></div>
                                 </div>
                                 <p>42% higher than last month</p>
                              </div>
                           </div>
                        </div>
                        <div class="col-12 stretch-card">
                           <div class="card">
                              <div class="card-body">
                                 <div class="sales-info">
                                    <h3>34,000</h3>
                                    <span>Active Installations</span>
                                 </div>
                                 <div class="progress progress-sm">
                                    <div class="progress-bar bg-success" role="progressbar"
                                         aria-valuenow="35" style="width: 55%"></div>
                                 </div>
                                 <p>19% less than last month</p>
                              </div>
                           </div>
                        </div>
                        <div class="col-12 stretch-card">
                           <div class="card">
                              <div class="card-body">
                                 <div class="sales-info">
                                    <h3>11,279</h3>
                                    <span>Total downloads</span>
                                 </div>
                                 <div class="progress progress-sm">
                                    <div class="progress-bar bg-purple" role="progressbar"
                                         aria-valuenow="35" style="width: 35%"></div>
                                 </div>
                                 <p>73% higher than last month</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>

            </div>
         </div>


         <!-- 版权信息  -->
         {{include "admin/public/footer-copyright.html"}}

      </div>

   </div>
</div>


<div id="preloader">
   <div class="loader" id="loader-1"></div>
</div>


<!----------引入公共的footer ----------->
{{include 'admin/public/footer.html'}}

<script>
    $('#btn-common').click(function () {
        let site_title = $("input[name=site_title]").val();
        let id = $("input[name=id]").val();
        let site_keywords = $("input[name=site_keywords]").val();
        let site_des = $("textarea[name=site_des]").val();
        let site_recordNum = $("input[name=site_recordNum]").val();
        let site_status = $("input[name=site_status]:checked").val();
        //Ajax请求 "/admin/changeManagerAdd"
        $.post("/admin/siteSetting/doSiteInfoEdit", {
            site_title: site_title,
            id:id,
            site_keywords: site_keywords,
            site_des: site_des,
            site_recordNum: site_recordNum,
            site_status:site_status
        }, function (data, status) {
            //alert("Data Loaded: " + JSON.stringify(data) );//Data Loaded: {"message":"用户已存在","success":false}
            if (data.success) {
                //alert(data.message);
                //成功地址跳转 "/admin/manager"
                tankuang(300, data.message, "/admin/siteSetting/siteInfo/");
            } else {
                //失败地址回到 "/admin/manager/add"
                tankuang(300, data.message, "/admin/siteSetting/siteInfoEdit?id="+id);
            }
        });

    })
</script>
</body>
</html>