<!doctype html>
<html lang="en">
<!----------引入公共的header ----------->
{{include 'admin/public/header.html'}}

<!-- Ueditor 配置静态资源-->
<script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="/ueditor/lang/zh-cn/zh-cn.js"></script>


<body>


<div class="app header-default side-nav-dark">
    <div class="layout">

        <!----------上边的nav ----------->
        {{include 'admin/public/nav-top.html'}}

        <!----------左边的nav ----------->
        {{include 'admin/public/nav-left.html'}}


        <div class="page-container">

            <div class="main-content">

                <!--   引入公共的 面包屑导航    -->
                {{include "admin/public/breadcrumb.html"}}

                <div class="container-fluid">

                    <div class="row">
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title">编辑文章内容</h5>
                                </div>
                                <div class="card-body">
                                    <div class="card-body-wrap">
                                        <form  enctype="multipart/form-data" >
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label control-label" for="title">文章名称:</label>
                                                <div class="col-sm-10">
                                                    <input id="title" type="text" class="form-control"
                                                           name="title" placeholder="请输入分类名称" value="{{list.title}}" >

                                                    <input type="hidden" name="id" value="{{@list._id}}">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label control-label">所属分类:</label>
                                                <div class="col-sm-10">
                                                    <select name="pid" id="pid" class="articleCate_select">
                                                        {{each cateListAll}}
                                                            <option value="{{@$value._id}}" {{if list.pid==$value._id}} selected {{/if}}>{{$value.articleCate_title}}</option>
                                                            {{each $value.list}}
                                                                <option value="{{@$value._id}}" {{if list.pid==$value._id}} selected {{/if}}>　　　{{$value.articleCate_title}}</option>
                                                            {{/each}}
                                                        {{/each}}
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                            <label class="col-sm-2 col-form-label control-label" for="img_url">封面图:</label>

                                            <div class="col-sm-10">
                                                <div class="form-control">
                                                    <input id="img_url" type="file" class="form-control" name="img_url" >

                                                    <!-- 封面图片  -->
                                                    <div class="col-sm-10">
                                                        <img src="{{__HOST__}}/upload/{{list.img_url}}" alt="img_url" width="80px" >
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label control-label"
                                                       for="keywords">关键字:</label>
                                                <div class="col-sm-10">
                                                    <input id="keywords" type="text" class="form-control"
                                                           name="keywords" placeholder="请输入关键字" value="{{list.keywords}}">
                                                </div>
                                            </div>


                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label control-label"
                                                       for="author">作者:</label>
                                                <div class="col-sm-10">
                                                    <input id="author" type="text" class="form-control"
                                                           name="author" placeholder="作者" value="{{list.author}}">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label control-label" for="sort">排序:</label>
                                                <div class="col-sm-10">
                                                    <input id="sort" type="number" name="sort" min="1" max="1000" class="form-control"  placeholder="输入1~1000区间" value="{{list.sort || 0}}">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label control-label" >状态:</label>
                                                <div class="col-sm-10 col-form-label" >
                                                    <label for="status1" class="m-r-10">
                                                        已审核 :
                                                        <input class="btn-radio" id="status1" type="radio"  name="status" value="1" {{if list.status=="1"}} checked {{/if}} >
                                                    </label>
                                                    <label for="status2">
                                                        未审核 :
                                                        <input class="btn-radio" id="status2" type="radio"  name="status" value="0" {{if list.status=="0"}} checked {{/if}} >
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label control-label" for="description">描述 :</label>
                                                <div class="col-sm-10">
                                                        <textarea class="site_des"
                                                                  name="description"
                                                                  id="description"
                                                                  cols="30" rows="3"
                                                                  placeholder="请输入文章介绍">{{list.description}}</textarea>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label control-label">文章详情 :</label>
                                                <div class="col-sm-10">
                                                       <script id="editor" type="text/plain" style="width:100%;height:250px;"></script>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label control-label"></label>
                                                <div class="col-sm-10">
                                                    <button id="btn-common" class="btn btn-common">提交</button>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-12 stretch-card">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="sales-info">
                                                <h3>14,0000</h3>
                                                <span>Overall Performance</span>
                                            </div>
                                            <div class="progress progress-sm">
                                                <div class="progress-bar bg-primary" role="progressbar"
                                                     aria-valuenow="35" style="width: 75%"></div>
                                            </div>
                                            <p>42% higher than last month</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 stretch-card">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="sales-info">
                                                <h3>34,000</h3>
                                                <span>Active Installations</span>
                                            </div>
                                            <div class="progress progress-sm">
                                                <div class="progress-bar bg-success" role="progressbar"
                                                     aria-valuenow="35" style="width: 55%"></div>
                                            </div>
                                            <p>19% less than last month</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 stretch-card">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="sales-info">
                                                <h3>11,279</h3>
                                                <span>Total downloads</span>
                                            </div>
                                            <div class="progress progress-sm">
                                                <div class="progress-bar bg-purple" role="progressbar"
                                                     aria-valuenow="35" style="width: 35%"></div>
                                            </div>
                                            <p>73% higher than last month</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <!-- 版权信息  -->
            {{include "admin/public/footer-copyright.html"}}

        </div>

    </div>
</div>


<div id="preloader">
    <div class="loader" id="loader-1"></div>
</div>


<!----------引入公共的footer ----------->
{{include 'admin/public/footer.html'}}


<!--ueditor-->
<script>
     let ue = UE.getEditor('editor');
     ue.addListener("ready", function (){ /*注意*/
         // editor 准备好之后才可以使用
         ue.setContent(`{{@list.content}}`);        /*es6的模板字符串*/
     });

</script>

<script>
    $('#btn-common').click(function (e) {
        e.preventDefault();

        let formData = new FormData();

        let catename = $("#pid option:selected").text().trim();
        let id = $("input[name=id]").val();
        let title = $("input[name=title]").val();
        let pid = $("#pid option:selected").val();
        let keywords = $("input[name=keywords]").val();
        let author = $("input[name=author]").val();
        let sort = $("input[name=sort]").val();
        let status = $("input[name=status]:checked").val();
        let img_url = $("input[name=img_url]")[0].files[0];
        let description = $("textarea[name=description]").val();
        let content = ue.getContent();

        //alert(sort)
        //alert('title='+title+"; keywords="+keywords+"; status="+status+"; img_url="+img_url+"; description="+description+"; content="+content)

        formData.append("id", id);
        formData.append("title", title);
        formData.append("pid", pid);
        formData.append("catename", catename);
        formData.append("keywords", keywords);
        formData.append("author", author);
        formData.append("sort", sort);
        formData.append("img_url", img_url);
        formData.append("description", description);
        formData.append("content", content);
        formData.append("status", status);

        //alert(JSON.stringify(id));

        $.ajax({
            type : "POST",
            url : "/admin/article/doArticleEdit",
            data : formData,
            cache : false,
            processData : false,
            contentType : false,
            success : function(data) {
                //alert(JSON.stringify(data));
                //alert(data)
                //     //成功地址跳转 "/admin/manager"
                if(data.success){
                    tankuang(300, data.message, "{{G.prevPage}}");//"/admin/article/"
                }else{
                    tankuang(300, data.message, "/admin/article/articleEdit?id="+id);
                }

            },
            error:function(data){
                alert(data);
                //失败地址回到 "/admin/manager/add"
                tankuang(300, data.message, "/admin/article/articleEdit?id="+id);
            }
        });
    })

</script>
</body>
</html>