<script src="{{__HOST__}}/admin/assets/js/jquery-min.js"></script>
<script src="{{__HOST__}}/admin/assets/js/popper.min.js"></script>
<script src="{{__HOST__}}/admin/assets/js/bootstrap.min.js"></script>
<script src="{{__HOST__}}/admin/assets/js/jquery.app.js"></script>
<script src="{{__HOST__}}/admin/assets/js/main.js"></script>
<script src="{{__HOST__}}/admin/assets/js/base.js"></script>
<script src="{{__HOST__}}/admin/assets/js/tankaung.js"></script>


<script src="{{__HOST__}}/admin/assets/plugins/morris/morris.min.js"></script>
<script src="{{__HOST__}}/admin/assets/plugins/raphael/raphael-min.js"></script>
<script src="{{__HOST__}}/admin/assets/js/dashborad1.js"></script>