
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Inspire - Admin and Dashboard Template</title>

    <link rel="stylesheet" type="text/css" href="{{__HOST__}}/admin/assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="{{__HOST__}}/admin/assets/fonts/line-icons.css">

    <link rel="stylesheet" type="text/css" href="{{__HOST__}}/admin/assets/fonts/font-awesome.min.css">

    <link rel="stylesheet" href="{{__HOST__}}/admin/assets/plugins/morris/morris.css">

    <link rel="stylesheet" type="text/css" href="{{__HOST__}}/admin/assets/css/main.css">

    <link rel="stylesheet" type="text/css" href="{{__HOST__}}/admin/assets/css/toast.css">

    <link rel="stylesheet" type="text/css" href="{{__HOST__}}/admin/assets/css/responsive.css">

    <script src="{{__HOST__}}/admin/assets/js/qiheToast.js"></script>
</head>