<div class="side-nav expand-lg">
    <div class="side-nav-inner">
        <ul class="side-nav-menu">
            <li class="side-nav-header">
                <span>Navigation</span>
            </li>{{G.url}}
            <li {{if G.url.length==2}} class="nav-item dropdown open" {{else}} class="nav-item dropdown" {{/if}} >
                <a href="{{__HOST__}}/admin/" class="dropdown-toggle">
                    <span class="icon-holder">
                        <i class="lni-dashboard"></i>
                    </span>
                    <span class="title">Dashboard</span>
                    <!--
                    <span class="arrow">
                        <i class="lni-chevron-right"></i>
                    </span>
                    -->
                </a>
                <!--
                <ul class="dropdown-menu sub-down">
                    <li class="active">
                        <a href="index.html">Dashboard 1</a>
                    </li>
                    <li>
                        <a href="index-2.html">Dashboard 2</a>
                    </li>
                </ul>
                -->
            </li>

            <li {{if G.url[1]=="manager"}} class="nav-item dropdown open" {{else}} class="nav-item dropdown" {{/if}}>
                <a class="dropdown-toggle" href="#">
                    <span class="icon-holder">
                        <i class="lni-cloud"></i>
                    </span>
                    <span class="title">管理员管理</span>
                    <span class="arrow">
                        <i class="lni-chevron-right"></i>
                    </span>
                </a>
                <ul class="dropdown-menu sub-down">
                    <li {{if G.url[1]=="manager"&&G.url[2]==""}} class="active" {{/if}}>
                        <a href="{{__HOST__}}/admin/manager/">管理员列表</a>
                    </li>
                    <li {{if G.url[2]=="managerAdd"}} class="active" {{/if}}>
                        <a href="{{__HOST__}}/admin/manager/managerAdd/">增加管理员</a>
                    </li>
                </ul>
            </li>

            <li {{if G.url[1]=="nav"}} class="nav-item dropdown open" {{else}} class="nav-item dropdown" {{/if}}>
                <a class="dropdown-toggle" href="#">
                    <span class="icon-holder">
                        <i class="lni-layers"></i>
                    </span>
                    <span class="title">导航管理</span>
                    <span class="arrow">
                        <i class="lni-chevron-right"></i>
                    </span>
                </a>
                <ul class="dropdown-menu sub-down">
                    <li {{if G.url[1]=="nav"&&G.url[2]==""}} class="active" {{/if}}>
                        <a href="{{__HOST__}}/admin/nav/">导航列表</a>
                    </li>
                    <li {{if G.url[2]=="navAdd"}} class="active" {{/if}}>
                        <a href="{{__HOST__}}/admin/nav/navAdd/">增加导航</a>
                    </li>
                </ul>
            </li>

            <li {{if G.url[1]=="siteSetting"}} class="nav-item dropdown open" {{else}} class="nav-item dropdown" {{/if}}>
                <a class="dropdown-toggle" href="#">
                    <span class="icon-holder">
                        <i class="lni-timer"></i>
                    </span>
                    <span class="title">网站信息</span>
                    <span class="arrow">
                        <i class="lni-chevron-right"></i>
                    </span>
                </a>
                <ul class="dropdown-menu sub-down">
                    <li {{if G.url[2]=="Logo"}} class="active" {{/if}}>
                        <a href="{{__HOST__}}/admin/siteSetting/Logo/">Logo管理</a>
                    </li>

                    <li {{if G.url[2]=="siteContact"}} class="active" {{/if}}>
                    <a href="{{__HOST__}}/admin/siteSetting/siteContact/">Contact</a>
                    </li>

                    <li {{if G.url[2]=="siteInfo"}} class="active" {{/if}}>
                        <a href="{{__HOST__}}/admin/siteSetting/siteInfo/">Information</a>
                    </li>

                </ul>
            </li>


            <li {{if G.url[1]=="aboutUs"}} class="nav-item dropdown open" {{else}} class="nav-item dropdown" {{/if}}>
                <a class="dropdown-toggle" href="#">
                    <span class="icon-holder">
                        <i class="lni-package"></i>
                    </span>
                    <span class="title">About Us</span>
                    <span class="arrow">
                        <i class="lni-chevron-right"></i>
                    </span>
                </a>
                <ul class="dropdown-menu sub-down">
                    <li {{if G.url[1]=="aboutUs"&&G.url[2]==""}} class="active" {{/if}}>
                        <a href="{{__HOST__}}/admin/aboutUs/">About Us列表</a>
                    </li>
                    <li {{if G.url[2]=="team"}} class="active" {{/if}}>
                        <a href="{{__HOST__}}/admin/aboutUs/team/">Team</a>
                    </li>
                    <li {{if G.url[2]=="teamAdd"}} class="active" {{/if}}>
                        <a href="{{__HOST__}}/admin/aboutUs/teamAdd/">TeamAdd</a>
                    </li>
                </ul>
            </li>


            <li {{if G.url[1]=="articleCate"}} class="nav-item dropdown open" {{else}} class="nav-item dropdown" {{/if}}>
                <a class="dropdown-toggle" href="#">
                        <span class="icon-holder">
                            <i class="lni-cloud"></i>
                        </span>
                    <span class="title">文章管理</span>
                    <span class="arrow">
                            <i class="lni-chevron-right"></i>
                        </span>
                </a>
                <ul class="dropdown-menu sub-down">
                    <li {{if G.url[1]=="articleCate"&&G.url[2]==""}} class="active" {{/if}}>
                    <a href="{{__HOST__}}/admin/articleCate/">文章分类列表</a>
                    </li>
                    <li {{if G.url[2]=="articleCateAdd"}} class="active" {{/if}}>
                    <a href="{{__HOST__}}/admin/articleCate/articleCateAdd/">增加分类</a>
                    </li>
                </ul>
            </li>


            <li {{if G.url[1]=="article"}} class="nav-item dropdown open" {{else}} class="nav-item dropdown" {{/if}}>
                <a class="dropdown-toggle" href="#">
                            <span class="icon-holder">
                                <i class="lni-cloud"></i>
                            </span>
                    <span class="title">内容管理</span>
                    <span class="arrow">
                                <i class="lni-chevron-right"></i>
                            </span>
                </a>
                <ul class="dropdown-menu sub-down">
                    <li {{if G.url[1]=="article"&&G.url[2]==""}} class="active" {{/if}}>
                    <a href="{{__HOST__}}/admin/article/">文章列表</a>
                    </li>
                    <li {{if G.url[2]=="articleAdd"}} class="active" {{/if}}>
                    <a href="{{__HOST__}}/admin/article/articleAdd/">增加文章</a>
                    </li>
                </ul>
            </li>


            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="#">
                    <span class="icon-holder">
                        <i class="lni-files"></i>
                    </span>
                    <span class="title">Forms</span>
                    <span class="arrow">
                        <i class="lni-chevron-right"></i>
                    </span>
                </a>
                <ul class="dropdown-menu sub-down">
                    <li>
                        <a href="form-elements.html">Form Elements</a>
                    </li>
                    <li>
                        <a href="form-layouts.html">Form Layouts</a>
                    </li>
                    <li>
                        <a href="form-validation.html">Form Validation</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="#">
                    <span class="icon-holder">
                        <i class="lni-control-panel"></i>
                    </span>
                    <span class="title">Tables</span>
                    <span class="arrow">
                        <i class="lni-chevron-right"></i>
                    </span>
                </a>
                <ul class="dropdown-menu sub-down">
                    <li>
                        <a href="basic-table.html">Basic Table</a>
                    </li>
                    <li>
                        <a href="data-table.html">Data Table</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="#">
                    <span class="icon-holder">
                        <i class="lni-pie-chart"></i>
                    </span>
                    <span class="title">Charts</span>
                    <span class="arrow">
                        <i class="lni-chevron-right"></i>
                    </span>
                </a>
                <ul class="dropdown-menu sub-down">
                    <li>
                        <a href="charts-morris.html">Marris Chart</a>
                    </li>
                    <li>
                        <a href="chartjs.html">ChartJs</a>
                    </li>
                    <li>
                        <a href="charts-flot.html">Flot Chart</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="#">
                    <span class="icon-holder">
                        <i class="lni-map-marker"></i>
                    </span>
                    <span class="title">Map</span>
                    <span class="arrow">
                        <i class="lni-chevron-right"></i>
                    </span>
                </a>
                <ul class="dropdown-menu sub-down">
                    <li>
                        <a href="google-map.html">Google Map</a>
                    </li>
                    <li>
                        <a href="vector-map.html">Vector Map</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="#">
                    <span class="icon-holder">
                        <i class="lni-files"></i>
                    </span>
                    <span class="title">Pages</span>
                    <span class="arrow">
                        <i class="lni-chevron-right"></i>
                    </span>
                </a>
                <ul class="dropdown-menu sub-down">
                    <li>
                        <a href="profile.html">Profile</a>
                    </li>
                    <li>
                        <a href="invoice.html">Invoice</a>
                    </li>
                    <li>
                        <a href="faq.html">FAQ</a>
                    </li>
                    <li>
                        <a href="login.html">Login</a>
                    </li>
                    <li>
                        <a href="sign-up.html">Sign Up</a>
                    </li>
                    <li>
                        <a href="404.html">404</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>