<!-- Jquery Min JS -->
<script src="{{__HOST__}}/default/assets/js/jquery-3.5.0.min.js"></script>
<!-- Popper Min JS -->
<script src="{{__HOST__}}/default/assets/js/popper.min.js"></script>
<!-- Bootstrap Min JS -->
<script src="{{__HOST__}}/default/assets/js/bootstrap.min.js"></script>
<!-- Owl Carousel JS -->
<script src="{{__HOST__}}/default/assets/js/owl.carousel.min.js"></script>
<!-- Magnific Popup JS -->
<script src="{{__HOST__}}/default/assets/js/jquery.magnific-popup.min.js"></script>
<!-- Meanmenu JS -->
<script src="{{__HOST__}}/default/assets/js/meanmenu.js"></script>
<!-- Wow JS -->
<script src="{{__HOST__}}/default/assets/js/wow.min.js"></script>
<!-- Ajaxchimp Min JS -->
<script src="{{__HOST__}}/default/assets/js/jquery.ajaxchimp.min.js"></script>
<!-- Form Validator Min JS -->
<script src="{{__HOST__}}/default/assets/js/form-validator.min.js"></script>
<!-- Contact Form JS -->
<script src="{{__HOST__}}/default/assets/js/contact-form-script.js"></script>
<!-- Custom JS -->
<script src="{{__HOST__}}/default/assets/js/custom.js"></script>

<script src="{{__HOST__}}/default/assets/js/jqPaginator.js"></script>