<!-- Start Heder Area -->
<header class="header-area top-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8">
                <div class="header-left">
                    <ul>
                        <li>
                            <i class="fas fa-clock"></i>
                            SAT - THU (10:00 AM - 6:00PM)
                        </li>
                        <li>
                            <i class="fas fa-map-marker-alt"></i>
                            28/A Street, New York, USA
                        </li>
                        <li>
                            <a href="tel:+1123456789">
                                <i class="fas fa-phone-alt"></i>
                                +1 123 456 789
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="social-icon">
                    <ul>
                        <li>
                            <a href="#" target="_blank">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- End Heder Area -->