<!-- Inner Banner -->
<div class="d-table">
    <div class="d-table-cell">
        <div class="conatiner">
            <div class="inner-title text-center">
                <h3>{{innerBanner}}</h3>
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <i class="fas fa-chevron-right"></i>
                    </li>
                    <li>
                        {{innerBanner}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Inner Banner End -->