<!-- Start Navbar Area -->
<div class="navbar-area">
    <!-- Menu For Mobile Device -->
    <div class="mobile-nav">
        <a href="/" class="logo">
            <img src="{{__HOST__}}/upload/{{siteLogo.header_logo}}" alt="Logo">
        </a>
    </div>

    <!-- Menu For Desktop Device -->
    <div class="main-nav">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light ">
                <a class="navbar-brand" href="/">
                    <img src="{{__HOST__}}/upload/{{siteLogo.header_logo}}" alt="Logo">
                </a>
                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto">
                        {{each nav}}
                        <li class="nav-item">
                            <a href="{{$value.nav_url}}"
                                {{if pathname == $value.nav_url}} class="nav-link active" {{else}} class="nav-link" {{/if}}>
                                {{$value.nav_title}}
                            </a>
                        </li>
                        {{/each}}
                        <!--
                        <li class="nav-item">
                            <a href="#" class="nav-link active">
                                Home
                                <i class="fas fa-chevron-right"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="index.html" class="nav-link active">
                                        Home One
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="index-two.html" class="nav-link">
                                        Home Two
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                Pages
                                <i class="fas fa-chevron-right"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="appointments.html" class="nav-link">
                                        Book Appointments
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="instructor.html" class="nav-link">
                                        Instructor
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="courses.html" class="nav-link">
                                        Courses
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="pricing.html" class="nav-link">
                                        Pricing
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="testimonials.html" class="nav-link">
                                        Testimonials
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="terms-condition.html" class="nav-link">
                                        Terms & Conditions
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="privacy-policy.html" class="nav-link">
                                        Privacy Policy
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="404.html" class="nav-link">
                                        404 Page
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="faq.html" class="nav-link">
                                        FAQ
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="login.html" class="nav-link">
                                        Log In
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="register.html" class="nav-link">
                                        Register
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="about.html" class="nav-link">
                                About
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                Services
                                <i class="fas fa-chevron-right"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="services.html" class="nav-link">
                                        Services
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="service-details.html" class="nav-link">
                                        Service Details
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="gallery.html" class="nav-link">
                                Gallery
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                News
                                <i class="fas fa-chevron-right"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="news.html" class="nav-link">
                                        News
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="news-details.html" class="nav-link">
                                        News Details
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                Shop
                                <i class="fas fa-chevron-right"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="shop.html" class="nav-link">
                                        Shop
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="shop-details.html" class="nav-link">
                                        Shop Details
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="cart.html" class="nav-link">
                                        Cart
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="checkout.html" class="nav-link">
                                        Checkout
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="contact.html" class="nav-link">
                                Contact
                            </a>
                        </li>
                        -->
                    </ul>
                    <!--
                    <div class="other-side">
                        <div class="search-area">
                            <div class="other-option">
                                <div class="search-item">
                                    <a href="#" class="search-btn">
                                        <i class="flaticon-magnifying-glass"></i>
                                    </a>
                                    <i class="close-btn fas fa-times"></i>
                                    <div class="search-overlay search-popup">
                                        <div class="search-box">
                                            <form class="search-form">
                                                <input class="search-input" name="search" placeholder="Search" type="text">
                                                <button class="search-button" type="submit">
                                                    <i class="flaticon-magnifying-glass"></i>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="search-text">
                            Search
                        </div>

                        <div class="cart-area">
                            <a class="cart-icon" href="cart.html">
                                <i class="flaticon-shopping-cart"></i>
                                <p>Cart <span>(2)</span></p>
                            </a>
                        </div>
                    </div>
                    -->
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- End Navbar Area -->