<!DOCTYPE html>
<html>
<!----------引入公共的header ----------->
{{include 'admin/public/header.html'}}
<body>
<div class="wrapper-page">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-12 col-xs-12">
                <div class="card">
                    <div class="card-header border-bottom text-center">
                        <h4 class="card-title">Sign In | 登 录</h4>
                    </div>
                    <div class="card-body">
                        <form class="form-horizontal m-t-20" action="{{__HOST__}}/admin/login/doLogin" method="post">
                            <div class="form-group">
                                <input class="form-control" type="text" name="username" required="" placeholder="Username">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="password" name="password" required="" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">Remember me</label>
                                </div>
                            </div>
                            <div class="form-group text-center m-t-20">
                                <button class="btn btn-common btn-block" type="submit">Log In | 登 录</button>
                            </div>
                            <div class="form-group">
                                <div class="float-right">
                                    <a href="forgot-password.html" class="text-muted"><i class="lni-lock"></i> Forgot
                                        your password?</a>
                                </div>
                                <div class="float-left">
                                    <a href="sign-up.html" class="text-muted"><i class="lni-user"></i> Create an account</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="preloader">
    <div class="loader" id="loader-1"></div>
</div>

<!----------引入公共的footer ----------->
{{include 'admin/public/footer.html'}}
</body>
</html>